In [501]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [502]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1804,tt0120755,125000000,546388105,Mission: Impossible II,Tom Cruise|Dougray Scott|Thandie Newton|Ving R...,John Woo,Expect the impossible again,With computer genius Luther Stickell at his si...,123,Adventure|Action|Thriller,Paramount Pictures|Cruise/Wagner Productions|M...,5/23/2000,5.8,2000
1475,tt0397078,28000000,38159905,Just My Luck,Lindsay Lohan|Samaire Armstrong|Chris Pine|Mis...,Donald Petrie,Everything changed in the wink of an eye.,Manhattanite Ashley is known to many as the lu...,103,Comedy|Drama|Family|Fantasy|Romance,Regency Enterprises|Cheyenne Enterprises|New R...,5/12/2006,5.7,2006
1208,tt1428538,50000000,224803475,Hansel & Gretel: Witch Hunters,Jeremy Renner|Gemma Arterton|Famke Janssen|Pih...,Tommy Wirkola,Classic tale. New twist.,"After getting a taste for blood as children, H...",88,Fantasy|Horror|Action,Paramount Pictures|Studio Babelsberg|MTV Films...,1/17/2013,5.7,2013
331,tt0913354,20000000,22942221,Armored,Columbus Short|Laurence Fishburne|Skeet Ulrich...,NimrÃ³d Antal,Who will be the last man standing?,A crew of officers at an armored transport sec...,88,Action|Crime|Drama|Thriller,Screen Gems|Stars Road Entertainment|Farah Fil...,12/4/2009,5.6,2009
942,tt0309377,50000000,26199517,Blood Work,Clint Eastwood|Jeff Daniels|Anjelica Huston|Wa...,Clint Eastwood,He's a heartbeat away from catching the killer,"Still recovering from a heart transplant, a re...",110,Crime|Drama|Mystery|Thriller,Malpaso Productions|Warner Bros. Pictures,8/4/2002,5.7,2002

In [503]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [504]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

profit = data['revenue'] - data['budget']

data['profit'] = profit

data

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000,82299717
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000,-8444012
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000,-40865180
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000,-3962091
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000,-9782502

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [505]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [506]:
# тут пишем ваш код для решения данного вопроса:
answers['1'] = data[data.budget == data.budget.max()]["original_title"]
answers['1']

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [507]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [508]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '...'

In [509]:
answers['2'] = data[data.runtime == data.runtime.max()]["original_title"]
answers['2']

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [510]:
answers['3'] = data[data.runtime == data.runtime.min()]["original_title"]
answers['3']

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [511]:
answers['4'] = data.runtime.mean()
answers['4']

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [512]:
answers['5'] = data.runtime.median()
answers['5']

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [513]:
# лучше код получения столбца profit вынести в Предобработку что в начале

answers['6'] = data[data.profit == data.profit.max()]
answers['6']

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [514]:
answers['7'] = data[data.profit == data.profit.min()]
answers['7']

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [515]:
answers['8'] = len(data[data.revenue > data.budget])
answers['8']

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [516]:

data_2008 = data[(data.release_year == 2008)].reset_index()

answers['9'] = data_2008[(data_2008.revenue == data_2008.revenue.max())]
answers['9']

,index,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [517]:

data_12_14 = data[(data.release_year >= 2012) & (data.release_year <= 2014)].reset_index()

answers['10'] = data_12_14[(data_12_14.profit == data_12_14.profit.min())]
answers['10']

,index,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
300,1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [518]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
data['genre'] = data.genres.apply(lambda x: x.split('|'))
d = data.explode('genre')

answers['11'] = d.genre.value_counts().index[0]
answers['11']

'Drama'

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [519]:

d = data[data.profit > 0].copy()
d['genre'] = data.genres.apply(lambda x: x.split('|'))
d = d.explode('genre')


answers['12'] = d.groupby(['genre']).profit.count().sort_values(ascending=False).index[0]

answers['12']
# d.groupby(['genre']).profit.count().sort_values(ascending=False)

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [520]:

d = data.copy()
d['d1'] = d.director.apply(lambda x: x.split('|'))
d = d.explode('d1')

answers['13'] = d.groupby(['director']).budget.sum().sort_values(ascending=False).index[0]
answers['13']

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [521]:
d = data.copy()
d['genre'] = d.genres.apply(lambda x: x.split('|'))
d['d1'] = d.director.apply(lambda x: x.split('|'))
d = d.explode('genre')
d = d[d.genre == 'Action'].explode('d1')

answers['14'] = d.groupby(['d1']).imdb_id.count().sort_values(ascending=False).index[0]
answers['14']

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [522]:
d = data[data.release_year == 2012].copy()
d['actor'] = d.cast.apply(lambda x: x.split('|'))
d = d.explode('actor')

answers['15'] = d.groupby(['actor']).revenue.sum().sort_values(ascending=False).index[0]
answers['15']

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [523]:
d = data[data.budget > data.budget.mean()].copy()
d['actor'] = d.cast.apply(lambda x: x.split('|'))
d = d.explode('actor')

answers['16'] = d.groupby(['actor']).revenue.count().sort_values(ascending=False).index[0]
answers['16']

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [524]:
d = data[data.cast.str.contains('Nicolas Cage')].copy()
d['genre'] = data.genres.apply(lambda x: x.split('|'))
d = d.explode('genre')


answers['17'] = d.groupby(['genre']).profit.count().sort_values(ascending=False).index[0]

answers['17']

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [525]:
d = data[data.production_companies.str.contains('Paramount Pictures')].copy()


answers['18'] = d[d.profit == d.profit.min()].original_title

answers['18']

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [526]:
answers['19'] = data.groupby('release_year').revenue.sum().sort_values(ascending=False).index[0]

answers['19']

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [527]:
d = data[data.production_companies.str.contains('Warner')]

answers['20'] = d.groupby('release_year').revenue.sum().sort_values(ascending=False).index[0]
answers['20']

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [528]:
d = data.copy()
d['month'] = d.release_date.apply(lambda x: x.split('/')[0])

answers['21'] = d.groupby('month').imdb_id.count().sort_values(ascending=False).index[0]
answers['21']

'9'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [529]:
d = data.copy()
d['month'] = d.release_date.apply(lambda x: x.split('/')[0])

answers['22'] = len(d.query('month in ["6","7","8"]'))
answers['22']

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [530]:
d = data.copy()
d['month'] = d.release_date.apply(lambda x: x.split('/')[0])
d = d.query('month in ["12","1","2"]')
d['director'] = d.director.apply(lambda x: x.split('|'))
d = d.explode('director')

answers['23'] = d.groupby('director').imdb_id.count().sort_values(ascending=False).index[0]
answers['23']

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [531]:
d = data.copy()
d['title_len'] = d.original_title.apply(lambda x: len(x))
d['production'] = d.production_companies.apply(lambda x: x.split('|'))
d = d.explode('production')

answers['24'] = d.groupby('production').title_len.mean().sort_values(ascending=False).index[0]
answers['24']

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [538]:
d = data.copy()
d['overview_len'] = d.overview.apply(lambda x: len(x.split(' ')))
d['production'] = d.production_companies.apply(lambda x: x.split('|'))
d = d.explode('production')

answers['25'] = d.groupby('production').overview_len.mean().sort_values(ascending=False).index[0]
answers['25']

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [537]:
answers['26'] = data[(data.vote_average > np.percentile(data.vote_average,99))]['original_title'].sort_values(ascending=False)
answers['26']

1183                          The Wolf of Wall Street
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
125                                The Imitation Game
138                          The Grand Budapest Hotel
599                                   The Dark Knight
34                                               Room
1800                                          Memento
118                                      Interstellar
9                                          Inside Out
370                                         Inception
119                           Guardians of the Galaxy
128                                         Gone Girl
1191                                 12 Years a Slave
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [534]:
from itertools import combinations

actors = data.cast.apply(lambda x: x.split('|'))
d = actors.apply(lambda x: list(combinations(x, 2))).explode()

answers['27'] = d.value_counts()[:5]
answers['27']

(Daniel Radcliffe, Rupert Grint)       8
(Daniel Radcliffe, Emma Watson)        8
(Rupert Grint, Emma Watson)            7
(Ben Stiller, Owen Wilson)             6
(Johnny Depp, Helena Bonham Carter)    6
Name: cast, dtype: int64

ВАРИАНТ 2

# Submission

In [535]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 723    Pirates of the Caribbean: On Stranger Tides
 Name: original_title, dtype: object,
 '2': 1157    Gods and Generals
 Name: original_title, dtype: object,
 '3': 768    Winnie the Pooh
 Name: original_title, dtype: object,
 '4': 109.6585494970884,
 '5': 107.0,
 '6':        imdb_id     budget     revenue original_title  \
 239  tt0499549  237000000  2781505847         Avatar

                                                   cast       director  \
 239  Sam Worthington|Zoe Saldana|Sigourney Weaver|S...  James Cameron

                          tagline  \
 239  Enter the World of Pandora.

                                               overview  runtime  \
 239  In the 22nd century, a paraplegic Marine is di...      162

                                        genres  \
 239  Action|Adventure|Fantasy|Science Fiction

                                   production_companies release_date  \
 239  Ingenious Film Partners|Twentieth Century Fox ...   12/10/2009

      vote_average  release_year      profit
 239           7.1          2009  2544505847  ,
 '7':         imdb_id     budget   revenue   original_title  \
 1245  tt1210819  255000000  89289910  The Lone Ranger

                                                    cast        director  \
 1245  Johnny Depp|Armie Hammer|William Fichtner|Hele...  Gore Verbinski

                       tagline  \
 1245  Never Take Off the Mask

                                                overview  runtime  \
 1245  The Texas Rangers chase down a gang of outlaws...      149

                         genres  \
 1245  Action|Adventure|Western

                                    production_companies release_date  \
 1245  Walt Disney Pictures|Jerry Bruckheimer Films|I...     7/3/2013

       vote_average  release_year     profit
 1245           6.0          2013 -165710090  ,
 '8': 1478,
 '9':    index    imdb_id     budget     revenue   original_title  \
 0    599  tt0468569  185000000  1001921825  The Dark Knight

                                                 cast           director  \
 0  Christian Bale|Michael Caine|Heath Ledger|Aaro...  Christopher Nolan

            tagline                                           overview  \
 0  Why So Serious?  Batman raises the stakes in his war on crime. ...

    runtime                       genres  \
 0      152  Drama|Action|Crime|Thriller

                                 production_companies release_date  \
 0  DC Comics|Legendary Pictures|Warner Bros.|Syncopy    7/16/2008

    vote_average  release_year     profit
 0           8.1          2008  816921825  ,
 '10':      index    imdb_id     budget   revenue   original_title  \
 300   1245  tt1210819  255000000  89289910  The Lone Ranger

                                                   cast        director  \
 300  Johnny Depp|Armie Hammer|William Fichtner|Hele...  Gore Verbinski

                      tagline  \
 300  Never Take Off the Mask

                                               overview  runtime  \
 300  The Texas Rangers chase down a gang of outlaws...      149

                        genres  \
 300  Action|Adventure|Western

                                   production_companies release_date  \
 300  Walt Disney Pictures|Jerry Bruckheimer Films|I...     7/3/2013

      vote_average  release_year     profit
 300           6.0          2013 -165710090  ,
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 925    K-19: The Widowmaker
 Name: original_title, dtype: object,
 '19': 2015,
 '20': 2014,
 '21': '9',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 1183                          The Wolf of Wall Street
 872                                       The Pianist
 1081    The Lord of the Rings: The Return of the King
 125                                The Imitation Game
 138                          The Grand Budapest Hotel
 599                                   The Dark Knight
 34                                               Room
 1800                                          Memento
 118                                      Interstellar
 9                                          Inside Out
 370                                         Inception
 119                           Guardians of the Galaxy
 128                                         Gone Girl
 1191                                 12 Years a Slave
 Name: original_title, dtype: object,
 '27': (Daniel Radcliffe, Rupert Grint)       8
 (Daniel Radcliffe, Emma Watson)        8
 (Rupert Grint, Emma Watson)            7
 (Ben Stiller, Owen Wilson)             6
 (Johnny Depp, Helena Bonham Carter)    6
 Name: cast, dtype: int64}

In [536]:
# и убедиться что ни чего не пропустил)
len(answers)

27